name: tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup go
      uses: actions/setup-go@v3
      with:
        go-version: "1.14.3"
    - uses: actions/cache@v2
      with:
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - uses: hashicorp/setup-terraform@v1
      with:
        terraform_wrapper: false
    - name: terraform validate
      run: terraform init && terraform validate
    - name: "Run Kubernetes in Docker"
      uses: engineerd/setup-kind@v0.5.0
    - name: Run tests
      run: go test -v ./...
      env:
        KUBE_CONFIG_PATHS: ~/.kube/config
    - name: Validate examples
      run: ./examples/validate.sh
