name: tests
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
    - name: Setup go
      uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
        cache: true
    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_wrapper: false
    - name: terraform validate
      run: terraform init && terraform validate
    - name: "Run Kubernetes in Docker"
      uses: engineerd/setup-kind@v0.5.0
      with:
        version: v0.17.0
    - name: Run tests
      run: go test -v ./...
      env:
        KUBE_CONFIG_PATHS: ~/.kube/config
    - name: Validate examples
      run: ./examples/validate.sh
